# Empty CSS file for your own CSS
body {
  background-image: url("../photo/头图1端午.jpg");
  background-position: center 0;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  -webkit-background-size: cover;

  -o-background-size: cover;

  -moz-background-size: cover;

  -ms-background-size: cover;
}